<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Year</title>

</head>
<body>
<pre><h2><B>Select a month :   </B></h2></pre>

<form method="post" action="month.html">{% csrf_token %}
        <select name="month">

            <option value="1">JANUARY</option>
            <option value="2">FEBRUARY</option>
            <option value="3">MARCH</option>
            <option value="4">APRIL</option>
            <option value="5">MAY</option>
            <option value="6">JUNE</option>
            <option value="7">JULY</option>
            <option value="8">AUGUST</option>
            <option value="9">SEPTEMBER</option>
            <option value="10">OCTOBER</option>
            <option value="11">NOVEMBER</option>
            <option value="12">DECEMBER</option>
        </select>
        <input  type = "submit" value="Submit">
    <br>
    <br>
</form>


<h1><B> Details for Year : {{ year_id1 }} </B></h1>

{% if year %}
<div data-width="300" data-height="300">
{{ year|safe }}
</div>
{% endif %}

</body>
</html>